In [16]:
import pandas as pd
import numpy as np
from math import ceil

In [6]:
def rating(df, mode, mdy, sp, fch): 
    SPdict = { 
        "AAA": 1, 
        "AA+": 2, 
        "AA": 3, 
        "AA-": 4, 
        "A+": 5, 
        "A": 6, 
        "A-": 7, 
        "BBB+": 8, 
        "BBB": 9, 
        "BBB-": 10, 
        "BB+": 11, 
        "BB": 12, 
        "BB-": 13, 
        "B+": 14, 
        "B": 15, 
        "B-": 16, 
        "CCC+": 17, 
        "CCC": 18, 
        "CCC-": 19, 
        "CC": 20, 
        "C": 21, 
        "D": 10000, 
        "NR": np.nan, 
    } #Dictionary of alpbetical rating value as key and the numberical rating score value as value
    MYdict = { 
        "Aaa": 1, 
        "Aa1": 2, 
        "Aa2": 3, 
        "Aa3": 4, 
        "A1": 5, 
        "A2": 6, 
        "A3": 7, 
        "Baa1": 8, 
        "Baa2": 9, 
        "Baa3": 10, 
        "Ba1": 11, 
        "Ba2": 12, 
        "Ba3": 13, 
        "B1": 14, 
        "B2": 15, 
        "B3": 16, 
        "Caa1": 17, 
        "Caa2": 18, 
        "Caa3": 19, 
        "Ca": 20, 
        "C": 21, 
        "D": 10000, 
        "NR": np.nan, 
    } #Dictionary of alpbetical rating value as key and the numberical rating score value as value
    Revdict = { 
        1: "AAA", 
        2: "AA+", 
        3: "AA", 
        4: "AA-", 
        5: "A+", 
        6: "A", 
        7: "A-", 
        8: "BBB+", 
        9: "BBB", 
        10: "BBB-", 
        11: "BB+", 
        12: "BB", 
        13: "BB-", 
        14: "B+", 
        15: "B", 
        16: "B-", 
        17: "CCC+", 
        18: "CCC", 
        19: "CCC-", 
        20: "CC", 
        21: "C", 
        10000: "D", 
    } #Dictionary of alpbetical rating value as value and the numberical rating score value as key
    
 
    if mdy is not None:
        
        df[mdy] = df[mdy].apply(lambda x: x.split(" ")[0])
        """ ^ 
        Assume it is for data cleaning purpose. Remove spaces and select the the first set of string before a space.
        The values selected will replace the old "moody" column. This column will represent the alphabetical 
        ratings given by Moodys """
        
        """" Will produce error if missing data is np.Nan type only, empty value in the table should be left as empty string "".
        else us isinstance(x,str) to catch error """
        
        df["mdy_score"] = df[mdy].map(lambda x: MYdict[x] if x in MYdict else np.nan)
        """ ^ 
        Another column "mdy_score" will be created, the values in 'mdy_score' column 
        are values from "moody" column being passed in Mydict to get the 'value'/numerical value of the rating.
        
        Esstenitally "mdy_score" column reflects the numerical score of the issuer
    
        """
    else: 
        df["mdy_score"] = np.nan 
        # ^ If the parameter 'mdy' is not filled, a column "moody_score" with values NaN will be created
        
        
    if sp is not None: 
        df[sp] = df[sp].apply(lambda x: x.split(" ")[0]) 
        #Same as above if statement, data cleaning of SnP ratings. This column will represent the alphabetical ratings given by SnP
        
        df["sp_score"] = df[sp].map(lambda x: SPdict[x] if x in SPdict else np.nan)
        """^
        Column "sp_score" will be created, the values in 'sp_score' column 
        are values from "Snp" column being passed in SPdict to get the 'value'/numerical value of the rating.
        
        "sp_score" column reflects the numerical score of the issuer 
        
        """
    else: 
        df["sp_score"] = np.nan 
        # ^ If the parameter 'sp' is not filled, a column "sp_score" with values NaN will be created 
        
        
    if fch is not None: 
        df[fch] = df[fch].apply(lambda x: x.split(" ")[0]) 
        # ^ Data cleaning of fch ratings. This column will represent alphabetical ratings given by Fitch
        
        df["fch_score"] = df[fch].map(lambda x: SPdict[x] if x in SPdict else np.nan)
        """^
        Column "fch_score" will be created, the values in 'fch_score' column 
        are values from "fch" column being passed in SPdict to get the 'value'/numerical value of the rating.
        
        "sp_score" column reflects the numerical rating of the issuer 
        """
    else: 
        df["fch_score"] = np.nan 
         # ^ If the parameter 'fch' is not filled, a column "fch_score" with values NaN will be created
     
    if mode == "m": # parameter mode has input value m
        df["rating_score"] = df.loc[:, ["mdy_score", "sp_score", "fch_score"]].median( 
            axis=1, skipna=True
        ) 
        """^
            Calculate the median numerical score of Moody, Snp and Fitch base on the values of the 3 
            columns create from the previous lines of code.
            
            Missing value in the "mdy_score", "sp_score", "fch_score", columns will be left out of the calulation
        """
        
        df["rating_score"] = df["rating_score"].apply( 
            lambda x: ceil(x) if not np.isnan(x) else None 
        ) 
        """^
            The Ceiling value (largest integer not greater than x, for this case the median rating score) 
            is calculated and replace the current value of "rating_score"
            
            If all 3 "mdy_score", "sp_score", "fch_score", columns has missing values, None value will be reflected
        """
     
    elif mode == "c": 
        df["rating_score"] = df.loc[:, ["mdy_score", "sp_score", "fch_score"]].max( 
            axis=1, skipna=True 
        )
        """^
            Calculate the maximum numerical score of Moody, Snp and Fitch base on the numerical values of the 3 
            columns create from the previous lines of code.
            
            Missing value in the "mdy_score", "sp_score", "fch_score", columns will be left out of the calulation
        """
        
        df["rating_score"] = df["rating_score"].apply( 
            lambda x: ceil(x) if not np.isnan(x) else None 
        ) 
        """^
            The Ceiling value (largest integer not greater than x, for this case the maximum rating score) 
            is calculated and replace the current value of "rating_score"
            
            If all 3 "mdy_score", "sp_score", "fch_score", columns has missing values, None value will be reflected
        """
 
 
    df["final_rating"] = df["rating_score"].map(Revdict) 
    """^ 
        Create a new column "final_rating" which reflects the alphabetical rating of the issuer using Revdict dictionary
        base on the numerical rating_score values
    """
     
    df["final_rating"] = df["final_rating"].fillna("NR")
    """^
        None value type in 'final_rating' column will be replace with "NR"
    """
 
    return df

In [7]:
a = ["HRINTH","SIA" ,"OIMGK" ,"CJIANT"]
b = ["Baa1" ,"A1","","Ba2" ]
c = ["", "A-", "", "BBB"]
d = ["BBB","A","",""]

In [8]:
data  = pd.DataFrame(list(zip(a,b,c,d)), columns = ["issuer",'moody','fitch','snp'])

In [12]:
df_new = data
df_new

   issuer moody fitch  snp
0  HRINTH  Baa1        BBB
1     SIA    A1    A-    A
2   OIMGK
3  CJIANT   Ba2   BBB

In [17]:
rating(df_new, mode = 'm' , mdy = 'moody', sp = 'fitch', fch= 'snp')

,issuer,moody,fitch,snp,mdy_score,sp_score,fch_score,rating_score,final_rating
0,HRINTH,Baa1,,BBB,8.0,NaN,9.0,9.0,BBB
1,SIA,A1,A-,A,5.0,7.0,6.0,6.0,A
2,OIMGK,,,,NaN,NaN,NaN,NaN,NR
3,CJIANT,Ba2,BBB,,12.0,9.0,NaN,11.0,BB+